* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}
#container {
  width: 800px;
  height: 600px;
  background-color: rgb(255, 176, 5);
}

#resourceDisplay { 
  text-align: center;
  line-height: 100px;
}